SCHEMATIC START ;
// created by map version D.27 on Fri Sep 07 14:43:47 2001 
TIMEGRP "tck" = BEL "TDO_OE_reg/I$1" BEL "RS_DAC_N_reg<0>/I$1" BEL 
"RS_DAC_N_reg<1>/I$1" BEL "RS_DAC_N_reg<2>/I$1" BEL "RS_DAC_N_reg<3>/I$1" BEL 
"ADC_SH_reg<0>/I$1" BEL "ADC_SH_reg<1>/I$1" BEL "ADC_SH_reg<2>/I$1" BEL 
"ADC_SH_reg<3>/I$1" BEL "ADC_SH_reg<4>/I$1" BEL "T/TAP_CS_reg<0>/I$1" BEL 
"T/TAP_CS_reg<2>/I$1" BEL "T/TAP_CS_reg<3>/I$1" BEL "T/TAP_CS_reg<1>/I$1" BEL 
"CS_TP_N_reg" BEL "BP_DOUT_reg" BEL "TDO_FF_reg" BEL "DAC_RES_reg" BEL 
"TPGRP/PREG_reg<0>" BEL "TPGRP/PREG_reg<1>" BEL "TPGRP/PREG_reg<2>" BEL 
"TPGRP/PREG_reg<3>" BEL "TPGRP/PREG_reg<4>" BEL "TPGRP/PREG_reg<5>" BEL 
"TPGRP/PREG_reg<6>" BEL "TPGRP/SREG_reg<0>" BEL "TPGRP/SREG_reg<1>" BEL 
"TPGRP/SREG_reg<2>" BEL "TPGRP/SREG_reg<3>" BEL "TPGRP/SREG_reg<4>" BEL 
"TPGRP/SREG_reg<5>" BEL "TPGRP/SREG_reg<6>" BEL "ID_REG/SREG_reg<0>" BEL 
"ID_REG/SREG_reg<1>" BEL "ID_REG/SREG_reg<2>" BEL "ID_REG/SREG_reg<3>" BEL 
"ID_REG/SREG_reg<4>" BEL "ID_REG/SREG_reg<5>" BEL "ID_REG/SREG_reg<6>" BEL 
"ID_REG/SREG_reg<7>" BEL "ID_REG/SREG_reg<8>" BEL "ID_REG/SREG_reg<9>" BEL 
"ID_REG/SREG_reg<10>" BEL "ID_REG/SREG_reg<11>" BEL "ID_REG/SREG_reg<12>" BEL 
"ID_REG/SREG_reg<13>" BEL "ID_REG/SREG_reg<14>" BEL "ID_REG/SREG_reg<15>" BEL 
"ID_REG/SREG_reg<16>" BEL "ID_REG/SREG_reg<17>" BEL "ID_REG/SREG_reg<18>" BEL 
"ID_REG/SREG_reg<19>" BEL "ID_REG/SREG_reg<20>" BEL "ID_REG/SREG_reg<21>" BEL 
"ID_REG/SREG_reg<22>" BEL "ID_REG/SREG_reg<23>" BEL "ID_REG/SREG_reg<24>" BEL 
"ID_REG/SREG_reg<25>" BEL "ID_REG/SREG_reg<26>" BEL "ID_REG/SREG_reg<27>" BEL 
"ID_REG/SREG_reg<28>" BEL "ID_REG/SREG_reg<29>" BEL "ID_REG/SREG_reg<30>" BEL 
"ID_REG/SREG_reg<31>" BEL "ID_REG/SREG_reg<32>" BEL "ID_REG/SREG_reg<33>" BEL 
"ID_REG/SREG_reg<34>" BEL "ID_REG/SREG_reg<35>" BEL "ID_REG/SREG_reg<36>" BEL 
"ID_REG/SREG_reg<37>" BEL "ID_REG/SREG_reg<38>" BEL "ID_REG/SREG_reg<39>" BEL 
"VAR_PD/PREG_reg" BEL "VAR_PD/SREG_reg" BEL "SBR/PREG_reg<0>" BEL 
"SBR/PREG_reg<1>" BEL "SBR/PREG_reg<2>" BEL "SBR/PREG_reg<3>" BEL 
"SBR/PREG_reg<4>" BEL "SBR/PREG_reg<5>" BEL "SBR/PREG_reg<6>" BEL 
"SBR/PREG_reg<7>" BEL "SBR/PREG_reg<8>" BEL "SBR/PREG_reg<9>" BEL 
"SBR/PREG_reg<10>" BEL "SBR/PREG_reg<11>" BEL "SBR/PREG_reg<12>" BEL 
"SBR/PREG_reg<13>" BEL "SBR/PREG_reg<14>" BEL "SBR/PREG_reg<15>" BEL 
"SBR/PREG_reg<16>" BEL "SBR/PREG_reg<17>" BEL "SBR/PREG_reg<18>" BEL 
"SBR/PREG_reg<19>" BEL "SBR/PREG_reg<20>" BEL "SBR/PREG_reg<21>" BEL 
"SBR/PREG_reg<22>" BEL "SBR/PREG_reg<23>" BEL "SBR/PREG_reg<24>" BEL 
"SBR/PREG_reg<25>" BEL "SBR/PREG_reg<26>" BEL "SBR/PREG_reg<27>" BEL 
"SBR/PREG_reg<28>" BEL "SBR/PREG_reg<29>" BEL "SBR/PREG_reg<30>" BEL 
"SBR/PREG_reg<31>" BEL "SBR/PREG_reg<32>" BEL "SBR/PREG_reg<33>" BEL 
"SBR/PREG_reg<34>" BEL "SBR/PREG_reg<35>" BEL "SBR/PREG_reg<36>" BEL 
"SBR/PREG_reg<37>" BEL "SBR/PREG_reg<38>" BEL "SBR/PREG_reg<39>" BEL 
"SBR/PREG_reg<40>" BEL "SBR/PREG_reg<41>" BEL "SBR/SREG_reg<0>" BEL 
"SBR/SREG_reg<1>" BEL "SBR/SREG_reg<2>" BEL "SBR/SREG_reg<3>" BEL 
"SBR/SREG_reg<4>" BEL "SBR/SREG_reg<5>" BEL "SBR/SREG_reg<6>" BEL 
"SBR/SREG_reg<7>" BEL "SBR/SREG_reg<8>" BEL "SBR/SREG_reg<9>" BEL 
"SBR/SREG_reg<10>" BEL "SBR/SREG_reg<11>" BEL "SBR/SREG_reg<12>" BEL 
"SBR/SREG_reg<13>" BEL "SBR/SREG_reg<14>" BEL "SBR/SREG_reg<15>" BEL 
"SBR/SREG_reg<16>" BEL "SBR/SREG_reg<17>" BEL "SBR/SREG_reg<18>" BEL 
"SBR/SREG_reg<19>" BEL "SBR/SREG_reg<20>" BEL "SBR/SREG_reg<21>" BEL 
"SBR/SREG_reg<22>" BEL "SBR/SREG_reg<23>" BEL "SBR/SREG_reg<24>" BEL 
"SBR/SREG_reg<25>" BEL "SBR/SREG_reg<26>" BEL "SBR/SREG_reg<27>" BEL 
"SBR/SREG_reg<28>" BEL "SBR/SREG_reg<29>" BEL "SBR/SREG_reg<30>" BEL 
"SBR/SREG_reg<31>" BEL "SBR/SREG_reg<32>" BEL "SBR/SREG_reg<33>" BEL 
"SBR/SREG_reg<34>" BEL "SBR/SREG_reg<35>" BEL "SBR/SREG_reg<36>" BEL 
"SBR/SREG_reg<37>" BEL "SBR/SREG_reg<38>" BEL "SBR/SREG_reg<39>" BEL 
"SBR/SREG_reg<40>" BEL "SBR/SREG_reg<41>" BEL "IR/PREG_reg<0>" BEL 
"IR/PREG_reg<1>" BEL "IR/PREG_reg<2>" BEL "IR/PREG_reg<3>" BEL "IR/PREG_reg<4>" 
BEL "IR/PREG_reg<5>" BEL "IR/SREG_reg<0>" BEL "IR/SREG_reg<1>" BEL 
"IR/SREG_reg<2>" BEL "IR/SREG_reg<3>" BEL "IR/SREG_reg<4>" BEL "IR/SREG_reg<5>" 
BEL "TPSTP/PREG_reg<0>" BEL "TPSTP/PREG_reg<1>" BEL "TPSTP/PREG_reg<2>" BEL 
"TPSTP/PREG_reg<3>" BEL "TPSTP/PREG_reg<4>" BEL "TPSTP/PREG_reg<5>" BEL 
"TPSTP/SREG_reg<0>" BEL "TPSTP/SREG_reg<1>" BEL "TPSTP/SREG_reg<2>" BEL 
"TPSTP/SREG_reg<3>" BEL "TPSTP/SREG_reg<4>" BEL "TPSTP/SREG_reg<5>" BEL 
"Clk_TP.PAD" BEL "Clk_ADC<4>.PAD" BEL "Clk_ADC<3>.PAD" BEL "Clk_ADC<2>.PAD" BEL 
"Clk_ADC<1>.PAD" BEL "Clk_ADC<0>.PAD" BEL "Clk_DAC<3>.PAD" BEL "Clk_DAC<2>.PAD" 
BEL "Clk_DAC<1>.PAD" BEL "Clk_DAC<0>.PAD" BEL "Future<4>.PAD" BEL 
"Future<3>.PAD" BEL "Future<2>.PAD" ;
TS_tck = PERIOD TIMEGRP "tck"  25 nS   HIGH 50.000 % ;
COMP "TP_Strp_En<5>" LOCATE = SITE "P141" LEVEL 1; 
COMP "TP_Strp_En<4>" LOCATE = SITE "P139" LEVEL 1; 
COMP "TP_Strp_En<3>" LOCATE = SITE "P137" LEVEL 1; 
COMP "TP_Strp_En<2>" LOCATE = SITE "P136" LEVEL 1; 
COMP "TP_Strp_En<1>" LOCATE = SITE "P135" LEVEL 1; 
COMP "TP_Strp_En<0>" LOCATE = SITE "P134" LEVEL 1; 
COMP "TP_Gr_En<6>" LOCATE = SITE "P151" LEVEL 1; 
COMP "TP_Gr_En<5>" LOCATE = SITE "P150" LEVEL 1; 
COMP "TP_Gr_En<4>" LOCATE = SITE "P148" LEVEL 1; 
COMP "TP_Gr_En<3>" LOCATE = SITE "P147" LEVEL 1; 
COMP "TP_Gr_En<2>" LOCATE = SITE "P146" LEVEL 1; 
COMP "TP_Gr_En<1>" LOCATE = SITE "P145" LEVEL 1; 
COMP "TP_Gr_En<0>" LOCATE = SITE "P142" LEVEL 1; 
COMP "TMS" LOCATE = SITE "P11" LEVEL 1; 
COMP "TDO" LOCATE = SITE "P10" LEVEL 1; 
COMP "TDI" LOCATE = SITE "P9" LEVEL 1; 
COMP "TCK" LOCATE = SITE "P2" LEVEL 1; 
COMP "State<3>" LOCATE = SITE "P44" LEVEL 1; 
COMP "State<2>" LOCATE = SITE "P43" LEVEL 1; 
COMP "State<1>" LOCATE = SITE "P42" LEVEL 1; 
COMP "State<0>" LOCATE = SITE "P41" LEVEL 1; 
COMP "Stand_By_N<9>" LOCATE = SITE "P171" LEVEL 1; 
COMP "Stand_By_N<8>" LOCATE = SITE "P169" LEVEL 1; 
COMP "Stand_By_N<7>" LOCATE = SITE "P168" LEVEL 1; 
COMP "Stand_By_N<6>" LOCATE = SITE "P167" LEVEL 1; 
COMP "Stand_By_N<5>" LOCATE = SITE "P166" LEVEL 1; 
COMP "Stand_By_N<4>" LOCATE = SITE "P164" LEVEL 1; 
COMP "Stand_By_N<41>" LOCATE = SITE "P8" LEVEL 1; 
COMP "Stand_By_N<40>" LOCATE = SITE "P5" LEVEL 1; 
COMP "Stand_By_N<3>" LOCATE = SITE "P162" LEVEL 1; 
COMP "Stand_By_N<39>" LOCATE = SITE "P4" LEVEL 1; 
COMP "Stand_By_N<38>" LOCATE = SITE "P3" LEVEL 1; 
COMP "Stand_By_N<37>" LOCATE = SITE "P206" LEVEL 1; 
COMP "Stand_By_N<36>" LOCATE = SITE "P205" LEVEL 1; 
COMP "Stand_By_N<35>" LOCATE = SITE "P204" LEVEL 1; 
COMP "Stand_By_N<34>" LOCATE = SITE "P201" LEVEL 1; 
COMP "Stand_By_N<33>" LOCATE = SITE "P200" LEVEL 1; 
COMP "Stand_By_N<32>" LOCATE = SITE "P199" LEVEL 1; 
COMP "Stand_By_N<31>" LOCATE = SITE "P198" LEVEL 1; 
COMP "Stand_By_N<30>" LOCATE = SITE "P197" LEVEL 1; 
COMP "Stand_By_N<2>" LOCATE = SITE "P161" LEVEL 1; 
COMP "Stand_By_N<29>" LOCATE = SITE "P196" LEVEL 1; 
COMP "Stand_By_N<28>" LOCATE = SITE "P194" LEVEL 1; 
COMP "Stand_By_N<27>" LOCATE = SITE "P193" LEVEL 1; 
COMP "Stand_By_N<26>" LOCATE = SITE "P191" LEVEL 1; 
COMP "Stand_By_N<25>" LOCATE = SITE "P190" LEVEL 1; 
COMP "Stand_By_N<24>" LOCATE = SITE "P189" LEVEL 1; 
COMP "Stand_By_N<23>" LOCATE = SITE "P188" LEVEL 1; 
COMP "Stand_By_N<22>" LOCATE = SITE "P187" LEVEL 1; 
COMP "Stand_By_N<21>" LOCATE = SITE "P186" LEVEL 1; 
COMP "Stand_By_N<20>" LOCATE = SITE "P185" LEVEL 1; 
COMP "Stand_By_N<1>" LOCATE = SITE "P159" LEVEL 1; 
COMP "Stand_By_N<19>" LOCATE = SITE "P184" LEVEL 1; 
COMP "Stand_By_N<18>" LOCATE = SITE "P181" LEVEL 1; 
COMP "Stand_By_N<17>" LOCATE = SITE "P180" LEVEL 1; 
COMP "Stand_By_N<16>" LOCATE = SITE "P179" LEVEL 1; 
COMP "Stand_By_N<15>" LOCATE = SITE "P178" LEVEL 1; 
COMP "Stand_By_N<14>" LOCATE = SITE "P177" LEVEL 1; 
COMP "Stand_By_N<13>" LOCATE = SITE "P176" LEVEL 1; 
COMP "Stand_By_N<12>" LOCATE = SITE "P175" LEVEL 1; 
COMP "Stand_By_N<11>" LOCATE = SITE "P174" LEVEL 1; 
COMP "Stand_By_N<10>" LOCATE = SITE "P172" LEVEL 1; 
COMP "Stand_By_N<0>" LOCATE = SITE "P152" LEVEL 1; 
COMP "RS_DAC_N<3>" LOCATE = SITE "P120" LEVEL 1; 
COMP "RS_DAC_N<2>" LOCATE = SITE "P115" LEVEL 1; 
COMP "RS_DAC_N<1>" LOCATE = SITE "P109" LEVEL 1; 
COMP "RS_DAC_N<0>" LOCATE = SITE "P98" LEVEL 1; 
COMP "PD_TP_N" LOCATE = SITE "P133" LEVEL 1; 
COMP "OpCode<5>" LOCATE = SITE "P58" LEVEL 1; 
COMP "OpCode<4>" LOCATE = SITE "P57" LEVEL 1; 
COMP "OpCode<3>" LOCATE = SITE "P48" LEVEL 1; 
COMP "OpCode<2>" LOCATE = SITE "P47" LEVEL 1; 
COMP "OpCode<1>" LOCATE = SITE "P46" LEVEL 1; 
COMP "OpCode<0>" LOCATE = SITE "P45" LEVEL 1; 
COMP "Future<7>" LOCATE = SITE "P69" LEVEL 1; 
COMP "Future<6>" LOCATE = SITE "P68" LEVEL 1; 
COMP "Future<5>" LOCATE = SITE "P67" LEVEL 1; 
COMP "Future<4>" LOCATE = SITE "P64" LEVEL 1; 
COMP "Future<3>" LOCATE = SITE "P63" LEVEL 1; 
COMP "Future<2>" LOCATE = SITE "P62" LEVEL 1; 
COMP "Future<1>" LOCATE = SITE "P61" LEVEL 1; 
COMP "Future<0>" LOCATE = SITE "P59" LEVEL 1; 
COMP "Dout_ADC<4>" LOCATE = SITE "P94" LEVEL 1; 
COMP "Dout_ADC<3>" LOCATE = SITE "P88" LEVEL 1; 
COMP "Dout_ADC<2>" LOCATE = SITE "P83" LEVEL 1; 
COMP "Dout_ADC<1>" LOCATE = SITE "P76" LEVEL 1; 
COMP "Dout_ADC<0>" LOCATE = SITE "P72" LEVEL 1; 
COMP "Din_TP" LOCATE = SITE "P125" LEVEL 1; 
COMP "Din_DAC<3>" LOCATE = SITE "P119" LEVEL 1; 
COMP "Din_DAC<2>" LOCATE = SITE "P114" LEVEL 1; 
COMP "Din_DAC<1>" LOCATE = SITE "P101" LEVEL 1; 
COMP "Din_DAC<0>" LOCATE = SITE "P97" LEVEL 1; 
COMP "Din_ADC<4>" LOCATE = SITE "P93" LEVEL 1; 
COMP "Din_ADC<3>" LOCATE = SITE "P87" LEVEL 1; 
COMP "Din_ADC<2>" LOCATE = SITE "P82" LEVEL 1; 
COMP "Din_ADC<1>" LOCATE = SITE "P75" LEVEL 1; 
COMP "Din_ADC<0>" LOCATE = SITE "P70" LEVEL 1; 
COMP "CS_TP_N" LOCATE = SITE "P129" LEVEL 1; 
COMP "CS_DAC_N<3>" LOCATE = SITE "P123" LEVEL 1; 
COMP "CS_DAC_N<2>" LOCATE = SITE "P116" LEVEL 1; 
COMP "CS_DAC_N<1>" LOCATE = SITE "P110" LEVEL 1; 
COMP "CS_DAC_N<0>" LOCATE = SITE "P99" LEVEL 1; 
COMP "CS_ADC_N<4>" LOCATE = SITE "P95" LEVEL 1; 
COMP "CS_ADC_N<3>" LOCATE = SITE "P89" LEVEL 1; 
COMP "CS_ADC_N<2>" LOCATE = SITE "P84" LEVEL 1; 
COMP "CS_ADC_N<1>" LOCATE = SITE "P80" LEVEL 1; 
COMP "CS_ADC_N<0>" LOCATE = SITE "P73" LEVEL 1; 
COMP "Clk_TP" LOCATE = SITE "P127" LEVEL 1; 
COMP "Clk_DAC<3>" LOCATE = SITE "P124" LEVEL 1; 
COMP "Clk_DAC<2>" LOCATE = SITE "P117" LEVEL 1; 
COMP "Clk_DAC<1>" LOCATE = SITE "P113" LEVEL 1; 
COMP "Clk_DAC<0>" LOCATE = SITE "P100" LEVEL 1; 
COMP "Clk_ADC<4>" LOCATE = SITE "P96" LEVEL 1; 
COMP "Clk_ADC<3>" LOCATE = SITE "P90" LEVEL 1; 
COMP "Clk_ADC<2>" LOCATE = SITE "P85" LEVEL 1; 
COMP "Clk_ADC<1>" LOCATE = SITE "P81" LEVEL 1; 
COMP "Clk_ADC<0>" LOCATE = SITE "P74" LEVEL 1; 
SCHEMATIC END ;
